<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="../js/http_cdnjs.cloudflare.com_ajax_libs_twitter-bootstrap_4.5.2_css_bootstrap.css">
<style>
    body { padding-top:50px; }
</style>
