<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../part/head'); %>
</head>
<body class="container">

<header>
    <%- include('../part/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>This is great</h1>
        <p>please <a href="/login">login</a></p>
    </div>
</main>

<footer>
    <%- include('../part/footer'); %>
</footer>

</body>
</html>
